#parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  width: 50vw;
  height: 50vh;
}
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-container a {
  padding: 15px;
  font-size: xx-large;
}
